Clock {
    content-align-horizontal: center;
    align-horizontal: right;
    dock: bottom;
    padding: 0 1 0 1;
    width: auto;
    background: $accent-darken-1;
    color: white;
}

LoadingIndicator {
    height: 1fr;
}

QuoteTable {
    height: 1fr;
}

QuoteTable > .datatable--cursor {
    background: rgb(92, 128, 128);
}

QuoteTable > .datatable--hover {
    background: rgb(56, 78, 78);
}
